@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// Primary Colors
$yellow: #fbce2f;
$background: #2f2f2f;

// Secondary Colors
$white: #fff;
$border: #4d4d4d;
$completed: #686868;
$modal-bg: #2f2f2f;

// Font-size
$default: 1.5rem;

[contenteditable] {
  outline: none;
}

::selection {
  background-color: $yellow;
  color: $background;
}

body {
  background: $background;
  header {
    h1 {
      font-size: 80px;
      font-weight: 900;
      text-align: center;
      margin: 30px 0; // Subject to change 56px for now.
      color: $yellow;
      text-transform: uppercase;
    }
  }

  form {
    // width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: $modal-bg;
    padding: 30px 30px 15px 30px;
    border-radius: 16px;
    z-index: 500;
    position: absolute;

    input {
      width: 100%;
      font-size: 20px;
      color: $white;
      caret-color: $yellow;
      background-color: $modal-bg;
      outline: none;
      border-radius: 4.5px;
      resize: none;
      padding: 0.68rem;
      border: 1px solid $border;
      &:focus {
        border: 1px solid $yellow;
      }
    }
    .action-btns {
      display: flex;
      width: 100%;
      justify-content: right;
      gap: 0.6rem;
      button {
        font-size: 20px;
        font-weight: 700;
        border-radius: 4.5px;
        margin: 15px 0 0 0;
        width: 120px;
        cursor: pointer;

        &[type="button"] {
          background: none;
          color: yellow;
          border: 1px solid yellow;
          padding: 9px 0;
        }
        &[type="submit"] {
          background: $yellow;
          border: none;
        }
      }
    }
  }
  .overlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1f1f1fa1;
    backdrop-filter: blur(2px);
  }
}