@import "defaultStyling";
main {
  color: $white;
  .initial-screen {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .illustration {
      width: 230px;
      // height: 275.545px;
    }
    .quote {
      color: $white;
      font-size: $default;
      width: 673px;
      text-align: center;
      margin: 25px 0 30px 0;
      line-height: 2rem;
    }
    button {
      font-size: $default;
      font-weight: 700;
      border-radius: 1rem;
      margin: 15px 0 0 0;
      cursor: pointer;
      padding: 1rem;
      background: $yellow;
      border: none;
    }
  }
}

// Medium
@media (max-width: 690px) {
  main {
    .initial-screen {
      .quote {
        width: 90vw;
      }
    }
  }
}

// Small
@media (max-width: 520px) {
  main {
    .initial-screen {
      .quote {
        font-size: $default-md;
        margin: 60px 0 20px 0;
      }
      button {
        font-size: $default-md;
        padding: 0.9rem;
      }
      .kbd-info {
        display: none;
      }
    }
  }
}

// When the phone is in horizontal mode
@media (max-height: 450px) {
  main {
    .initial-screen {
      .illustration {
        margin-top: 4.4rem;
      }
      .kbd-info {
        display: none;
      }
      button {
        margin: 15px 0;
      }
    }
  }
}
